<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AWSSDK.Core" version="3.7.400.61" manuallyInstalled="true" />
  <package id="Azure.Core" version="1.44.1" manuallyInstalled="true" />
  <package id="Castle.Core" version="5.1.1" manuallyInstalled="true" />
  <package id="Microsoft.Bcl.AsyncInterfaces" version="9.0.0" />
  <package id="Microsoft.EntityFrameworkCore" version="9.0.0" manuallyInstalled="true" />
  <package id="Microsoft.Extensions.Configuration.Abstractions" version="9.0.0" />
  <package id="Microsoft.Extensions.DependencyInjection" version="9.0.0" manuallyInstalled="true" />
  <package id="Microsoft.Extensions.DependencyInjection.Abstractions" version="9.0.0" />
  <package id="Microsoft.Extensions.Http" version="9.0.0" manuallyInstalled="true" />
  <package id="Microsoft.Extensions.Logging" version="9.0.0" manuallyInstalled="true" />
  <package id="Microsoft.Extensions.Logging.Abstractions" version="9.0.0" />
  <package id="Microsoft.Extensions.Options" version="9.0.0" />
  <package id="Microsoft.Extensions.Primitives" version="9.0.0" />
  <package id="Microsoft.Identity.Client" version="4.66.2" manuallyInstalled="true" />
  <package id="Microsoft.IdentityModel.Abstractions" version="6.35.0" />
  <package id="Microsoft.Win32.SystemEvents" version="9.0.0" manuallyInstalled="true" />
  <package id="Serilog" version="4.2.0" manuallyInstalled="true" />
  <package id="System.ClientModel" version="1.1.0" />
  <package id="System.ComponentModel.Annotations" version="5.0.0" />
  <package id="System.Diagnostics.DiagnosticSource" version="9.0.0" />
  <package id="System.Diagnostics.EventLog" version="4.7.0" />
  <package id="System.Drawing.Common" version="9.0.0" manuallyInstalled="true" />
  <package id="System.IO.Pipelines" version="9.0.0" />
  <package id="System.Memory.Data" version="6.0.0" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="6.0.0" />
  <package id="System.Security.Principal.Windows" version="4.7.0" />
  <package id="System.Text.Encodings.Web" version="9.0.0" />
  <package id="System.Text.Json" version="9.0.0" manuallyInstalled="true" />
  <package id="System.Threading.Channels" version="8.0.0" />
  <package id="System.Windows.Extensions" version="9.0.0" manuallyInstalled="true" />
  <package id="dotenv.net" version="3.2.1" manuallyInstalled="true" />
</packages>